# Location of the Chromedriver
DRIVER_PATH=your-path-to-chromedriver

# Location where the scraped images will be stored in
TARGET_PATH=your-path-to-store-downloaded-images

# Location of the dataset folder
DATASET_PATH=your-path-to-dataset-folder